.container{
    display: flex;
    justify-content: center;
    width:79%; 
    overflow-x: hidden;
    margin-top: 5vh;
    
}
@media screen and (max-width: 768px){
    .rate{
  text-align: center;
  align-items: center;
    }
}

.rate{
   
    margin-top: 4vh;
}
.recovered{
    color: #2852cf;  
    font-size: 16px;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}
.deathRate{
    color: red;
    
    font-size: 16px;
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}