.container{
    margin: 10px 0;
    overflow: hidden;
}

.card{
    margin: 0 2%!important;
}

.infected{
    border-bottom: 10px solid rgba(0,0,255,0.5);
}
.recovered{
    border-bottom: 10px solid rgba(0,255,0,0.5);
}
.deaths{
    border-bottom: 24px solid red!important;
}
@media screen and (min-width: 768px){
    .container{
        overflow: inherit!important;
    }
   
    .deaths{
        border-bottom: 10px solid red!important;
    }
}